/*@font-face {
	font-family: Roboto;
	src: url("Roboto-Regular.ttf");
}*/
body {
	font-family: "Open Sans", "Arial" !important;
}
.navbar-brand {
	position: relative;
	top: -8px;
}
.kvacica {
    list-style-image: url('img/ikonica.png');
}
.kvacica>li {
	clear: left;
}
.center {
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
}
.margin {
	margin-left: auto;
	margin-right: auto; 
	width: 80%;
}
.padding {
	padding-left: 10%;
	padding-right: 10%;
}
.align-center {
	text-align: center;
}
.white {
	color: white;
}
.space {
	margin-top: 20px;
	/*position: relative;*/
}
.space-bot {
	margin-bottom: 20px;
}
p {
		font-size: 1.5vw;
	}
span {
		font-size: 1.5vw;
		display: inline-block;
	}
@media screen and (max-width: 767px) {
	.bg-sadrzaj {
		font-size: 2.3vw !important;
	}
	.tekst-sadrzaj {
		font-size: 2.3vw !important;
	}
	.bg-ukljuceno {
		max-width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto; 
		text-align: center;
		font-size: 2.3vw !important;
	}
}
li {
	font-size: 1.5vw !important;
}
.minuta {
	text-align: right;
}
.minuta-img {
	max-width: 180px;
}
h2 {
	font-weight: bold;
}
.tekst-detalji>h4 {
	margin-bottom: -15px;
}
.sadrzaj {
	color: #B0083B;
}
.row-sadrzaj {
	margin-left: auto;
	margin-right: auto; 
	max-width: 82%;
}
.bg-sadrzaj {
	background-color: #7F109D;
	border: 10px solid white;
	padding-top: 30px;
	padding-bottom: 20px;
}
.tekst-auto-sadrzaj {
	position: absolute;
	bottom: 0;
	left: 7%;
	color: #FFF;
}
.tekst-sadrzaj {
	/*position: absolute; 
	bottom: 0; */
	/*text-align: center;*/
	color: #FFF;
	/*margin: 0px -10px;*/
	font-size: 1.2vw;
	/*height: 55px;*/
	position: absolute;
    bottom: 0;
    left: 0;
    margin: -30px 0;
	/*padding-right: 10%;*/
}
.lift-sadrzaj {
	position: relative;
	bottom: 30px;
}
.integracija {
	/*color: #7F109D;*/
	color: #FFF;
	text-align: center;
}
.full {
	padding: 0px !important;
}
.pola {
	max-width: 100%;
	position: relative;
}
.img-bottom {
	position: absolute;
    display: block;
    bottom: 0;
    width: auto;
    left: 3%;
    max-width: 41%;
    max-height: 110%;
}
.img-top {
    top: 0;
    width: auto;
    max-width: 100%;
}
/* integracija v1
.img-bottom {
	position: absolute;
	bottom: 0;
	left: 80px;
}
.integracija-tekst {
	color: #FFF;
	position: absolute;
	top: 35%;
	right: 10%;
	left: 50%;
}*/
.integracija-tekst {
	color: #FFF;
	padding-top: 150px;
	padding-right: 100px;
}
.sadrzaj-paketa-bg{
	position: relative;
	background-image: url(img/capture-e-commerce.jpg);
	background-size: cover;
	padding: 20px 0px 0px 0px !important;
}
.integracija-e-commerce-bg{
	position: relative;
	background-image: url(img/e-commerce-2-page_02.jpg);
	background-size: cover;
	padding: 20px 0px 0px 0px !important;
}
.integracija-bg{
	position: relative;
	background-image: url(img/360_cars_page2_01.jpg);
	background-size: cover;
	padding: 20px 0px 0px 0px !important;
	height: 450px;
}
.detalji {
	text-align: center;
	color: #7F109D;
}
.tekst-detalji>h3 {
	color: #23319A;
}
.row-detalji {
	margin-left: auto;
	margin-right: auto; 
	max-width: 82%;
	text-align: center;
}
.ukljuceno {
	color: #008DF6;
}
.row-ukljuceno {
	margin-left: auto;
	margin-right: auto; 
	max-width: 82%;
}
.bg-ukljuceno {
	background-color: #00766A;
	border: 10px solid white;
	padding: 15px 5px;
	position: relative;
}
.navbar-sticky-bottom {
	text-align: center;
	padding: 5px 0;
	width: 100%;
}
.blue {
	color: #23319A;
}
.uredaji {
	width: 100%;
	max-width: 120px;
}
/*# sourceMappingURL=style.css.map */